body {
  background: rgb(240, 242, 245);
  margin: 0;
  padding: 0;
  font-family: Tahoma, sans-serif;
  font-size: 10pt;
}

.btn {
  background-color: #6383A8;
  color: white;
  border-radius: 2px;
  border: 0;
  padding: 5px;
  transition: background 100ms ease-in-out 0s;
}

.btn:hover {
  background: #6287AE;
  cursor: pointer;
}

.btn:disabled {
  background: #eee;
  color: #aaa;
}

.wrapper {
  min-width: 500px;
  margin: auto;
  margin-top: 10px;
  display: none;
}

.left_bar {
  background: #fff;
  border-right: 2px solid rgb(222, 229, 235);
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dialog {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px;
}

.selected {
  background: rgb(222, 229, 235);
}

.dialog .name {
  margin-left: 10px;
}

.container {
  background: #fff;
  min-width: 500px;
  min-height: 100%;
  margin-left: 202px;
}

.container .header {
  background: #fff;
  width: 100%;
    height: 40px;
}

.progress-wrapper {
    height: 30px;
    margin: 5px 0 5px 5px;
    background: rgb(222, 229, 235);
    width: calc(100% - 115px);
    float: left;
}

.progress {
    background: #6383A8;
    height: 30px;
    width: 0;
    transition: width 0.2s linear;
}

.save {
    width: 100px;
    height: 30px;
    float: right;
    margin: 5px;
}

.container .history {
  background: #fff;
  width: 96%;
    margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 50px;
  padding: 5px;
}

.avatar-block {
  flex-basis: 50px;
  flex-shrink: 0;
}

.avatar {
  width: 50px;
  height: 50px;
}

.message-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 0;
}

.message-container > div {
  padding: 3px;
}

.name {
  color: rgb(43, 88, 122);
  font-weight: bold;
}

.message {
  background: #fff;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.time {
  color: #888;
  font-size: 8pt;
  padding: 3px;
  margin-right: 5px;
  flex-basis: 60px;
  flex-shrink: 0;
}


.forwarded-message {
    width: 100%;
    margin: 5px;
    border-left: 3px solid rgb(195, 209, 224);
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.forwarded-wrapper {
    width: 100%;
}



.forwarded-message > div {
    margin: 0 5px 0 0;
}

.forwarded-message .avatar-block{
    flex-basis: 30px;
    flex-shrink: 0;
}

.forwarded-message .avatar {
    width: 30px;
    height: 30px;
}

.forwarded-message .user-time-block {
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
}

.forwarded-message .user-time-block > div {
    margin: 0 5px;
}

.forwarded-message .time {
    flex-basis: 120px;
}

.popup_background {
    background: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.popup {
  background: #fff;
  width: 300px;
  height: 120px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 15px;
  margin: auto;
  margin-top: calc(50vh - 60px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.popup > input {
  border-radius: 2px;
  width: 73%;
  height: 20px;
  margin-top: 10px;
}

.popup > button {
  width: 73%;
  height: 30px;
  margin-top: 10px;
}